/* Form Container */
.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #f4f4f4;
}

form {
	background-color: #fff;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	width: 100%;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 1px;
	color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 14px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	border-color: #66afe9;
	outline: none;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

button[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #218838;
}

/* Add some additional styles for better spacing */
input::placeholder {
	color: #888;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
	font-size: 12px;
}
.error {
	color: red; /* Makes the text red to indicate an error */
	font-size: 14px; /* Slightly smaller font size for the error message */
	margin-top: -2px; /* Adds some space between the input field and the error message */
	font-weight: bold; /* Makes the error message bold */
}
